{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clothing Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- ✅ Navbar -->
    <nav>
        <ul>
             <form action="{% url 'catalog:search_products' %}" method="get">
            <input type="text" name="q" placeholder="Search products...">
                <button type="submit">Search</button>
            </form>
            <h1></h1>
            <li><a href="/">Home</a></li>


            {% for cat in categories %}
                <li><a href="{% url 'catalog:category' slug=cat.slug %}">{{ cat.name }}</a></li>
            {% endfor %}
            <li><a href="{% url 'catalog:brand_list' %}">Brands</a></li>
            <li><a href="{% url 'cart:view' %}">Cart</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">My Account</a></li>
               <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <hr>

    <!-- ✅ Контент -->
    {% block content %}
    {% endblock %}
</body>
</html>
